<!DOCTYPE html>
<html>
<head>
    <title>Live Stream</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h1>Live Stream</h1>
  <img src="{% url 'video_feed' %}" alt="Live Stream">

  <button id="capture-btn">Capture Image</button>
<script>
  $('#capture-btn').click(function() {
    $.ajax({
        url: '/capture/',
        type: 'GET',
        success: function(response) {
            if (response.redirect_url) {
                window.location.href = response.redirect_url;  // Perform the redirect
            } else {
                alert('Face not verified. Please try again.');
            }
        },
        error: function(xhr, status, error) {
            console.log('Error:', error);
        }
    });
});
</script>

 
</body>
</html>
