<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
    <style>
        .button {
          background-color: blue; /* Green */
          border: none;
          color: white;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          padding: 12px 28px;
        }
    </style>
        
</head>
<body>

    <h1 style="text-align: center;">VERIFYING USER</h1>
    <div align="center">
    
    <img src ="{% url 'video_feed' %}">

    
    <!--<form method="post" action="/">
        {% csrf_token %}
        <button class="button" type="submit">Submit</button>
    </form>-->
</div>
<script>
    setTimeout(function() {
        window.location.href = "{% url 'stop_video_feed' %}";
    }, 60000);
</script>
</body>
</html>



